<include file="Public/header" /> 
<body class="gray-bg">
    <div class="wrapper wrapper-content">
     <form action="" method="post" enctype="multipart/form-data">
        <div class="row animated fadeInRight">
           <div class="col-md-2">
                   <div class="form-group">
                       <label for="showEasing">所属分类</label>
                       <input type="hidden" name="pid" value="{$category.id}">
                       <input id="showEasing" type="text" placeholder="" class="form-control" value="{$category.catename}" required>
                   </div>
            </div>
                <div class="col-md-2">
                   <div class="form-group">
                       <label for="showEasing">API配置</label>
                       <input id="showEasing" type="text" name="openurl" placeholder="" class="form-control" value="{$url}" required>
                   </div>
                </div>
                <div class="col-md-2">
                   <div class="form-group">
                       <label for="showEasing">派奖接口</label>
                       <input id="showEasing" type="text" name="winninurl" placeholder="" class="form-control" value="{$url}" required>
                   </div>
                </div>
        </div>
        <button type="submit" class="btn btn-w-m btn-primary">提交</button>
        <button type="button" class="btn btn-w-m btn-primary" onclick="history.go(-1)">返回</button>
        </form>
    </div>
    <script src="../../../Public/js/jquery.min.js?v=2.1.4"></script>
    <script src="../../../Public/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="../../../Public/js/content.min.js?v=1.0.0"></script>
    <script src="../../../Public/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="../../../Public/js/demo/peity-demo.min.js"></script>
    <script type="text/javascript" src="../../../Public/js/plugins/simditor/module.js"></script>
    <script type="text/javascript" src="../../../Public/js/plugins/simditor/uploader.js"></script>
    <script type="text/javascript" src="../../../Public/js/plugins/simditor/hotkeys.js"></script>
    <script type="text/javascript" src="../../../Public/js/plugins/simditor/simditor.js"></script>

</body>
</html>
