<include file="Public/header" />
<body>
<style>
.pages a,.pages span {
    display:inline-block;
    padding:2px 5px;
    margin:0 1px;
    border:1px solid #f0f0f0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.pages a,.pages li {
    display:inline-block;
    list-style: none;
    text-decoration:none; color:#58A0D3;
}
.pages a.first,.pages a.prev,.pages a.next,.pages a.end{
    margin:0;
}
.pages a:hover{
    border-color:#50A8E6;
}
.pages span.current{
    background:#50A8E6;
    color:#FFF;
    font-weight:700;
    border-color:#50A8E6;
}
</style>

<div class="wrapper wrapper-content animated fadeInRight"> 
   <div class="row"> 
    <div class="col-sm-12"> 
     <div class="ibox float-e-margins">
         <div class="row">
             <div class="ibox-title">
                 <h5>会员列表</h5>
                 <div style="clear: both;">
                     

                             <!--<div class="btn-group" style="float: right;margin-left: 12px;">
                                 <button class="btn btn-primary" onclick="location.href='{:U('Home/User/userAdd/type/2')}'">添加试玩会员+</button>
                             </div>-->
        
<!-- 
        <div class="btn-group" style="float: right;margin-left: 12px;">
         <button class="btn btn-info" onclick="location.href='{:U('/Home/user/expUser')}'" >导出会员数据</button>
        </div>

       <div class="btn-group" style="float: right;margin-left: 12px;">
         <button class="btn btn-warning" onclick="location.href='{:U('/Home/user/down/Action/download')}'">下载模板</button>
         </div>
      
        <div class="btn-group" style="float: right;margin-left: 12px;">
         <button class="btn btn-danger" onclick="location.href='{:U('/Home/user/impUser')}'">导入会员数据</button>
         </div>
       
        <div class="btn-group" style="float: right;margin-left: 12px;">
         <button class="btn btn-primary" onclick="location.href='{:U('/Home/user/userAdd')}'">添加会员+</button>
        </div> -->
       
        
        
        
       
          
       
        
          
        </div>
      </div>

                 </div>
         </div>
          <div class="row">
                      <div class="col-sm-3">
                      <form class="" method="post" action="">
                        <div class="input-group m-b">
                            <input type="text" type="text" name="keyword"  value="" placeholder="用户名/手机号码" class="form-control">
                            <span class="input-group-btn"> <button type="submit" class="btn btn-primary">搜索</button> </span>
                        </div>
                        <!-- <div class="btn-group m-b" ><span class="input-group-addon">会员筛选</span>
                             <input class="form-control" type="text" name="keyword"  value="" placeholder="会员昵称/手机号码">
                            
                                              </div> -->
                      </form>
                      </div>
                      <div class="col-sm-2">
                      <div class="input-group m-b"><span class="input-group-addon">会员筛选</span>
                                 <select class="form-control vipType"  name="account">
                                      <option>选择vip等级</option>
                                      <foreach name="vip_user_type" item="item" key="key">
                                          <option <if condition="$vip_type eq  $item['id']"> selected="selected"</if> value="{$item.id}">{$item.name}</option>
                                      </foreach>
                                  </select>      
                        </div>
                          
                      </div>
                      <div class="col-sm-1"> <button class="btn proxyUser btn-primary">代理商</button></div>
                      <div class="col-sm-1"> <button class="btn testUser btn-primary">试玩会员</button></div>
                      <div class="col-sm-5"> 

                        <div class="btn-group" style="float: right;margin-left: 12px;">
                            <button class="btn btn-info" onclick="location.href='{:U('/Home/user/expUser')}'" >导出会员数据</button>
                        </div>

                       <div class="btn-group" style="float: right;margin-left: 12px;">
                            <button class="btn btn-warning" onclick="location.href='{:U('/Home/user/down/Action/download')}'">下载模板</button>
                         </div>
                      
                        <div class="btn-group" style="float: right;margin-left: 12px;">
                            <button class="btn btn-danger" onclick="location.href='{:U('/Home/user/impUser')}'">导入会员数据</button>
                         </div>
                       
                        <div class="btn-group" style="float: right;margin-left: 12px;">
                            <button class="btn btn-primary" onclick="location.href='{:U('/Home/user/userAdd')}'">添加会员+</button>
                        </div>

                      </div>
              </div>
          </div>
      <div class="ibox-content">  
       <div class="table-responsive"> 
        <table class="table table-striped"> 
         <thead> 
          <tr> 
           <th>id</th> 
           <th>用户名</th> 
           <th>手机号码</th> 
           <th>会员昵称</th>
           <th>VIP会员</th>
           <th>代理商</th>
           <th>试玩会员</th>
           <th>余额</th>
           <th>状态</th>
           <th>操作</th> 
          </tr> 
         </thead> 
         <tbody> 
         <foreach name="user_list" item="item" key="key">
          <tr> 
           <td>{$item.id}</td> 
           <td><a href="__URL__/userList/type/2/pid/{$item.id}">{$item.username}</a></td>  
           <td>{$item.mobile}</td>
           <td>{$item.nickname}</td>
           <td>
             <if condition="$item.vip_type eq 0 ">非VIP
                <else /> VIP会员
              </if>
          </td>
           <td>
              <if condition="$item.type eq 0 ">普通会员
                <elseif condition="$item.type eq 1" /> 代理会员
                <else /> 平台总代
              </if>
           </td>
           <td>
              <if condition="$item.test_type eq 0 ">普通会员
                <else />试玩会员
              </if>
           </td>
           <td>{$item.money}</td>
           <td>{$item.status}</td>
           <td>
              <a href="{:U('Home/User/userEdit/userID/'.$item['id'])}">查看</a>
              <a href="{:U('Home/User/user_appropriation/userID/'.$item['id'])}">拨款</a>
              <a href="javascript:prohibit({$item.id})">禁用</a>
              <a href="{:U('Home/User/watchData/userID/'.$item['id'])}">数据查看</a>
              <a href="{:U('Home/User/bankCard/userID/'.$item['id'])}">银行卡</a>
              <a href="javascript:del({$item.id})">删除</a>
           </td>  
          </tr>
          </foreach>
          </tbody> 
        </table> 
       </div> 
       <div class="pages">{$page}</div> 
      </div>
      <!--弹窗-->
      <style>
			.tc_bj {
				background: rgba(0,0,0,0.2);
				width: 100%;
				height: 100%;
				position: fixed;
				top:0;
				left:0;
				display: none;
			}
			.tc_01 {
				background: #fff;
				width: 300px;
				height: 150px;
                                border-radius: 8px;
				position: fixed;
				top:50%;
				left:50%;
				margin: -75px 0 0 -150px;
				display: none;
			}
		    .tc_01 h6 {
				background:#1ab394;
				height: 36px;
				line-height: 36px;
                                border-radius: 8px 8px 0 0;
				padding: 0 12px;
                                font-weight: bold;
                                font-size: 14px;
				color: #fff;
				margin: 0;
		    }
		    .tc_01 div {
				padding: 12px 0 12px 0;
		    }
		    .tc_01 div input {
				margin: 18px 0 0 12px;
		    }
		</style>
		<div class="tc_bj" ></div>
        <div class="tc_01">
			<h6>选择上传的文件</h6>
			<div>
				<form  action="{$threeMenuInfo.3.controller/function}" method="post" enctype="multipart/form-data">
					<input type="file" name="import"/>
					<input id="tc_bnt_qr" class="btn btn-primary btn-sm" type="submit" value="确定导入"/>
					<input id="tc_bnt_qx" class="btn btn-default btn-sm" type="reset" value="取消导入"/>
				</form>
            </div>
        </div>
        <!--<input id="tc_bnt_dl" class="btn btn-success" type="button" value="导入会员数据"/>-->
		
<!--		   导入窗口 
		<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                                        </button>
                                        <i class="fa fa-laptop modal-icon"></i>
                                        <h4 class="modal-title">窗口标题</h4>
                                        <small class="font-bold">这里可以显示副标题。
                                        </div>
                                        <div class="modal-body">
                                            <p><strong>H+</strong> 是一个完全响应式，基于Bootstrap3.3.6最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术，她提供了诸多的强大的可以重新组合的UI组件，并集成了最新的jQuery版本(v2.1.1)，当然，也集成了很多功能强大，用途广泛的jQuery插件，她可以用于所有的Web应用程序，如网站管理后台，网站会员中心，CMS，CRM，OA等等，当然，您也可以对她进行深度定制，以做出更强系统。</p>
                                                    <div class="form-group"><label>Email</label> <input type="email" placeholder="请输入您的Email" class="form-control"></div>
                                        </div>
                                        <div class="modal-footer ">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                            <button type="button" class="btn btn-primary">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

        弹窗 end-->
                  
     </div>      
    </div>    
   </div>   
  </div>
  </div> 
  <include file="Public/footer" />
<script>
  $('#tc_bnt_dl').click(function(){
          $('.tc_bj').show(100);
          $('.tc_01').show(100);
  });
  $('#tc_bnt_qr').click(function(){
          $('.tc_bj').hide(100);
          $('.tc_01').hide(100);
  });
  $('#tc_bnt_qx').click(function(){
          $('.tc_bj').hide(100);
          $('.tc_01').hide(100);
  });
  $('.proxyUser').click(function(){
      MyGet('', {'type':1});
  });

  $('.testUser').click(function(){
      var user_type =   1;
      MyGet('', {'test_type':user_type});
  });

  $('.vipType').change(function(){
      var user_type =   $(this).val();
      MyGet('', {'vip_type':user_type});
  });


  function MyGet(url,args){
          var body = $(document.body),
              form = $("<form method='get'></form>"),
              input;
          form.attr({"action":url});
          $.each(args,function(key,value){
              input = $("<input type='hidden'>");
              input.attr({"name":key});
              input.val(value);
              form.append(input);
          });

          form.appendTo(document.body);
          form.submit();
          document.body.removeChild(form[0]);
      }
</script>
  <script type="text/javascript">
     function prohibit(userID){
    	 if (confirm('确定禁用该用户吗？') == true){
    		 $.ajax({
    			 url: "{:U('Home/user/userProhibit')}",
    			 type: 'post',
    			 dataType: 'json',
    		     data: {'userID':userID},
    		     success: function (data) {
    		    	 if (data.state == true) {
                         alert('禁用成功！');
                         window.location.reload(); 
                     } else {
                    	 alert('改用户已被禁用!');
                     }
    		     }
    		 });
    	 }
     }
  </script>
  <script type="text/javascript">
     function del(userID){
    	 if (confirm('确定删除用户吗？') == true){
    		 $.ajax({
    			 url: "{:U('Home/user/userDel')}",
    			 type: 'post',
    			 dataType: 'json',
    		     data: {'userID':userID},
    		     success: function (data) {
    		    	 if (data.state == true) {
                         alert('删除成功！');
                         window.location.reload(); 
                     } else {
                    	 alert('删除失败!');
                     }
    		     }
    		 });
    	 }
     }
  </script>
 </body>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>