<include file="Public/header" /> 
<body class="gray-bg">
    <div class="wrapper wrapper-content">
     <form action="" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$detail.id}">
        <div class="row animated fadeInRight">
                <div class="col-md-12">
                   <div class="input-group m-b">
                       <label class="input-group-addon"   for="showEasing">等级名称</label>
                       <input id="showEasing" type="text" name="name" placeholder="" class="form-control" value="{$detail.name}" required>
                   </div>
                   <div class="input-group m-b">
                       <label class="input-group-addon"   for="showEasing">最低投注金额</label>
                       <input id="showEasing" type="text" name="bet_record_money" placeholder="" class="form-control" value="{$detail.bet_record_money}" required>
                   </div>
                    <div class="input-group m-b">
                        <label  class="input-group-addon"  for="showEasing">是否开启:</label>
                        <select name="status" class="form-control">
                            <option value="2" selected="">关闭</option>
                            <option value="1">开启</option>
                        </select>
                    </div>
                    <div class="input-group m-b">
                        <label   class="input-group-addon"  for="showEasing">赠送几个月</label>
                        <input id="showEasing" type="text" name="gift_month" placeholder="" class="form-control" value="{$detail.gift_month}" required>
                    </div>
                </div>
        </div>
        <button type="submit" class="btn btn-w-m btn-primary">提交</button>
        <button type="button" class="btn btn-w-m btn-primary" onclick="history.go(-1)">返回</button>
        </form>
    </div>
    <script src="../../../Public/js/jquery.min.js?v=2.1.4"></script>
    <script src="../../../Public/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="../../../Public/js/content.min.js?v=1.0.0"></script>
    <script src="../../../Public/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="../../../Public/js/demo/peity-demo.min.js"></script>
    <script type="text/javascript" src="../../../Public/js/plugins/simditor/module.js"></script>
    <script type="text/javascript" src="../../../Public/js/plugins/simditor/uploader.js"></script>
    <script type="text/javascript" src="../../../Public/js/plugins/simditor/hotkeys.js"></script>
    <script type="text/javascript" src="../../../Public/js/plugins/simditor/simditor.js"></script>
    <script src="../../../Public/js/plugins/layer/laydate/laydate.js"></script>
    <script>
        laydate({elem:"#hello",event:"focus"});var start={elem:"#start",format:"YYYY/MM/DD hh:mm:ss",min:laydate.now(),max:"2099-06-16 23:59:59",istime:true,istoday:false,choose:function(datas){end.min=datas;end.start=datas}};var end={elem:"#end",format:"YYYY/MM/DD hh:mm:ss",min:laydate.now(),max:"2099-06-16 23:59:59",istime:true,istoday:false,choose:function(datas){start.max=datas}};laydate(start);laydate(end);
    </script>

</body>
</html>
