<include file="Public/header" />
<style>
.pages a,.pages span {
    display:inline-block;
    padding:2px 5px;
    margin:0 1px;
    border:1px solid #f0f0f0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.pages a,.pages li {
    display:inline-block;
    list-style: none;
    text-decoration:none; color:#58A0D3;
}
.pages a.first,.pages a.prev,.pages a.next,.pages a.end{
    margin:0;
}
.pages a:hover{
    border-color:#50A8E6;
}
.pages span.current{
    background:#50A8E6;
    color:#FFF;
    font-weight:700;
    border-color:#50A8E6;
}
</style>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>投注数据</h5>
                                            </div>
                                            <div class="ibox-content">

                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>采种</th>
                                                            <th>下注量</th>
                                                            <th>下注金额</th>
                                                            <th>派奖量</th>
                                                            <th>会员盈亏</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <?php foreach($list as $item):?>
                                                        <tr>
                                                            <td><?=$item['catename']?></td>
                                                            <td><?=$item['betNum']?></td>
                                                            <td><?=$item['betMoney']?></td>
                                                            <td><?=$item['winMoney']?></td>
                                                            <!--<td>未中奖</td>-->
                                                            <td>
                                                                <?php if($item['pfMoney']>0):?>
                                                                <span class="label label-primary">盈利<?=$item['pfMoney']?></span>
                                                                <?php elseif($item['pfMoney']==0):?>
                                                                <?php else:?>
                                                                <span class="label label-primary">亏损<?=$item['pfMoney']?></span>
                                                                <?php endif;?>
                                                            </td>
                                                            <td><a href="{:U('Home/Count/betDetail/type/3/id/'.$item['id'])}">详情</a></td>
                                                        </tr>
                                                        <?php endforeach;?>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
  <include file="Public/footer" />
