<html>
 <head>
  <style>
   .pages a,.pages span {
    display:inline-block;
    padding:2px 5px;
    margin:0 1px;
    border:1px solid #f0f0f0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;

   }
   .pages a,.pages li {
    display:inline-block;
    list-style: none;
    text-decoration:none; color:#58A0D3;

   }
   .pages a.first,.pages a.prev,.pages a.next,.pages a.end{
    margin:0;
   }
   .pages a:hover{
    border-color:#50A8E6;
   }
   .pages span.current{
    background:#50A8E6;
    color:#FFF;
    font-weight:700;
    border-color:#50A8E6;
  </style>
 </head>
 <body class="gray-bg">
  <include file="Public/header" />  
  <div class="wrapper wrapper-content animated fadeInRight"> 
   <div class="row"> 
    <div class="col-sm-12"> 
     <div class="ibox float-e-margins">

      <div class="ibox-title">
       <h5>投注【<span style="color: red;padding: 0 5px;">{$cate_name}</span>】数据</h5>
       <br/>
       <div class="btn-group" >
        <form class="" method="get" action="">
         日期：<input class="form-control" id="date" type="text"  name="date" style="width: 200px; display: inline;" value="{$date}" placeholder="开奖日期">
         <input type="submit" class="btn btn-primary" value="搜索">
        </form>
       </div>
       <br/>
       <div class="row">
        <div id="ww" class="btn-group">
          <foreach name="category_list" item="item" key="key">
            <if condition="$cate_id eq $item['id']">
                <a  class="btn btn-primary race_c" type="button" cate_id="{$item.id}"  >{$item.catename}</a>
             <else />
                <a  class="btn btn-white race_c" type="button" cate_id="{$item.id}" >{$item.catename}</a>
            </if>
          </foreach>
        </div>
       </div>
      </div>
      <div class="ibox-content">
       <div class="table-responsive"> 
        <table class="table table-striped"> 
         <thead> 
          <tr> 
           <!--<th>订单号</th>-->
           <th>期数</th>
           <th>彩种</th>
           <th>开奖号码</th>
           <th>下注金额</th>
           <th>模式</th>
           <th>倍数</th>
           <th>注数</th>
           <th>状态</th>
           <th>中奖金额</th>
           <th>盈亏金额</th>
           <th>操作</th>
          </tr>
         </thead> 
         <tbody> 
         <foreach name="open_prize_data" item="item" key="key" >
          <tr> 
           <!--<td>{$item.orderNum}</td>-->
           <td>{$item.issue}</td>
           <td>{$cate_name}</td>
           <td>{$item.content}</td>
           <td>{$item.money}</td>
           <td>
            <if condition="$item.mode eq 1 ">元
            </if>
            <if condition="$item.mode eq 2 ">角
            </if>
            <if condition="$item.mode eq 3 ">分
            </if>
            <if condition="$item.mode eq 4 ">厘
            </if>
           </td>
           <td>{$item.times}</td>

           <td>{$item.nums}</td>

           <td>

            <if condition="$item.status eq 1 ">等待开奖
            </if>
            <if condition="$item.status eq 2 ">中奖
            </if>
            <if condition="$item.status eq 3 ">未中奖
            </if>
            <if condition="$item.status eq 4 ">撤单
            </if>

           </td>

           <td>{$item.winning_money}</td>
           <td>{$item.profitLoss}</td>
           <td> <if condition="$item.status eq 1 ">手动开奖
            <else/>
           </if></td>
          </tr>
         </foreach>
         </tbody> 
        </table> 
       </div>
       <div class="pages">{$page}</div>
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <include file="Public/footer" />

  <script src="/Public/js/plugins/layer/laydate/laydate.js"></script>
  <script type="text/javascript">
      laydate({
          elem: '#date',
          format: 'YYYY-MM-DD', //日期格式 // 分隔符可以任意定义，该例子表示只显示年月
//          min: laydate.now(), //设定最小日期为当前日期
          max: '2099-06-16', //最大日期
          festival: true, //显示节日
          istime: true,   //是否显示时分秒
          istoday: true,
      });
      $('#ww .race_c').click(function() {
          $(this).removeClass('btn-white').addClass('btn-primary').siblings().removeClass('btn-primary').addClass('btn-white');
          var cate_id =  $(this).attr('cate_id');
         // OpenData(cate_id);
         var date =  $('#date').val();
          if(date !=''){
              MyGet('',{"cate_id":cate_id,"p":0,"date":date});
          }else {
              MyGet('',{"cate_id":cate_id,"p":0});
          }
      });
      function MyGet(url,args){
          var body = $(document.body),
              form = $("<form method='get'></form>"),
              input;
          form.attr({"action":url});
          $.each(args,function(key,value){
              input = $("<input type='hidden'>");
              input.attr({"name":key});
              input.val(value);
              form.append(input);
          });

          form.appendTo(document.body);
          form.submit();
          document.body.removeChild(form[0]);
      }
    //  cate_id = "{$cate_id}";
     // OpenData(cate_id);

   /* function OpenData(cate_id) {
        $.ajax({
            type: "POST",
            url:"{:U('Home/Category/playRace')}",
            data: {'cate_id':},
            //  async: false,
            dataType: 'json',
            beforeSend:function() {
                var html  =  "<tr><td colspan='6' style='text-align: center;color: red'>加载中</td></tr>";
                $("#race").html(html);
            },
            success: function(datas) {

            }
        });
    }*/

  </script>
 <!-- <script type="text/javascript">
  function prohibit(ID){
 	 if (confirm('确定禁用该接口吗？') == true){
 		 $.ajax({
 			 url: '{:U('Home/openApi/openapiProhibit')}',
 			 type: 'post',
 			 dataType: 'json',
 		     data: {'ID':ID},
 		     success: function (data) {
 		    	 if (data.state == true) {
                      alert('禁用成功！');
                      window.location.reload(); 
                  } else {
                 	 alert('该Api已被禁用!');
                  }
 		     }
 		 });
 	 }
  }
  </script>-->
  <!--<script type="text/javascript">
  function start(ID){
 	 if (confirm('确定启用该接口吗？') == true){
 		 $.ajax({
 			 url: '{:U('Home/openapi/openapiStart')}',
 			 type: 'post',
 			 dataType: 'json',
 		     data: {'ID':ID},
 		     success: function (data) {
 		    	 if (data.state == true) {
                      alert('启用成功！');
                      window.location.reload(); 
                  } else {
                 	 alert('该Api已启用!');
                  }
 		     }
 		 });
 	 }
  }
  </script>  -->
 </body>
</html>