<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="__PUBLIC__/Html/css/activity.css">
<body>
<div class="header_menu_wrap">
    <div class="header_menu clearfix">
        <img src="__PUBLIC__/Html/images/logo.png" alt="logo">
        <ul>
            <li><a href="javascript:void(0);" data-id="sy">首页</a></li>
            <li><a href="javascript:void(0);">彩票游戏</a></li>
            <li><a href="javascript:void(0);"  data-id="yhhd" class="active">优惠活动</a></li>
            <li><a href="javascript:void(0);">在线客服</a></li>
            <li><a href="javascript:void(0);">线路检测</a></li>
        </ul>
    </div>
</div>
<!--活动-->
<div class="activity">
	<div class="activity_img clearfix">
	  <dl>
	  	<dt><img src="__PUBLIC__/Html/images/activity1.png" width="386" height="152" alt=""/></dt>
	  	<dd>
	  		<h3></h3>
	  		<p></p>
	  	</dd>
	  	<dd>
	  	    <a href="#">查看详情</a>
		</dd>
	  </dl>
	  <dl>
	  	<dt><img src="__PUBLIC__/Html/images/activity2.png" width="386" height="152" alt=""/></dt>
	  	<dd>
	  		<h3></h3>
	  		<p></p>
	  	</dd>
	  	<dd>
	  	    <a href="#">查看详情</a>
		</dd>
	  </dl>
	  <dl>
	  	<dt><img src="__PUBLIC__/Html/images/activity3.png" width="386" height="152" alt=""/></dt>
	  	<dd>
	  		<h3></h3>
	  		<p></p>
	  	</dd>
	  	<dd>
	  	    <a href="#">立即领取</a>
		</dd>
	  </dl>
	  <dl>
	  	<dt><img src="__PUBLIC__/Html/images/activity4.png" width="386" height="152" alt=""/></dt>
	  	<dd>
	  		<h3></h3>
	  		<p></p>
	  	</dd>
	  	<dd>
	  	    <a href="#">查看详情</a>
		</dd>
	  </dl>
	  <!--<dl>
	  	<dt><img src="__PUBLIC__/Html/images/activity2.png" width="386" height="152" alt=""/></dt>
	  	<dd>
	  		<h3>狂欢24小时</h3>
	  		<p>24小时任意存取款, 手续费全免, 实时到帐, 不限金额!</p>
	  	</dd>
	  	<dd>
	  	    <a href="#">立即领取</a>
		</dd>
	  </dl>
	  <dl>
	  	<dt><img src="__PUBLIC__/Html/images/activity6.png" width="386" height="152" alt=""/></dt>
	  	<dd>
	  		<h3>会员生日庆生活动</h3>
	  		<p>100%首存红利高达2,888元! 上百种老虎机游戏任你玩,赢</p>
	  	</dd>
	  	<dd>
	  	    <a href="#">查看详情</a>
		</dd>
	  </dl>-->
    </div>
    <div class="activity_txt">
	  <h4>优惠的一般条款及规则</h4>
	  <ul>
	  	<li>每位玩家、每户、每一住址、每一电子邮箱地址、每一电话号码、相同支付方式(相同借记卡/信用卡/银行账户号码)及IP地址只能享有一</li>
	  	<li>所有JC的新会员需要在注册时填写正确的信息(联系电话、名、姓、出生日期等)。</li>
	  	<li>本次优惠对象是娱乐性质玩家，如发现会员为职业赌徒或只为寻求红利的玩家，JC保留取消该玩家红利的权利。</li>
	  	<li>JC保留修改、解释本次规则的权利；以及在五通知的情况下做出改变本次活动的权利；所有JC规则条款适用。</li>
	  	<li>当参与优惠的会员未能完全遵守、或违反、或滥用任何有关这优惠或推广的条款，又或我们有任何证据有一位或一群客户投下一连串的关联赌注从存款红利或其他推广活动提供的优惠盈利，JC保留权利向这些个别或一群客户停止、取消优惠或索回已支付 的全部优惠红利。此外，JC的行政奋勇，以补偿我们的行政成本。</li>
	  	<li>任何的无风险投注，对冲，对打均不计算有效投注。有效投注定义：玩法投注不得超过该玩法投注最大注数的80%，即定位胆不得超过7注，星不得超过8000注，五星不得超过80000注。如发现利用活动存在对冲等恶意套利行为，JC有权扣除违规所得。</li>
	  	<li>活动发起方：JC投注系统。</li>
	  </ul>
    </div>
</div>

<div id="footer">
    <div class="footer_top_wrap">
        <div class="footer_top">
            <strong>合作伙伴</strong>
        </div>
    </div>
    <div class="footer_msg">
        <ul>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">常见问题</a></li>
            <li><a href="#">条款与规则</a></li>
            <li><a href="#">博彩责任</a></li>
            <li><a href="#">免责声明</a></li>
            <li><a href="#">彩种玩法</a></li>
        </ul>
        <p class="copyright">本网站属于菲律宾卡格杨（Cageayan）授权和监管 所有版权归JC投注所有</p>
        <p>©2009-2016 Win World by flgj Group LIMITED</p>
    </div>
</div>
<script>
	//header_menu
    $(".header_menu li a").click(function(){ 
		switch($(this).data("id"))
		{
		case 'sy':
		  $('#ym_home').load('home.html');
		  break;
		case 'yhhd':
		  $('#ym_home').load('activity.html');
		  break;
		default:
		  return false
		}
	});
	
	$(document).ready(function() {
		var $activity_img_dd =$(".activity_img dl");
		$.ajax({
			type: "POST",
			url: "{:U('Html/Getdata/getactivity')}",
			data: '',
			async: true,
			timeout: 10000,
			success: function(data) {
				console.log(data);
				for(var i = 0, len = data.length; i < len; i++) {
						$activity_img_dd.eq(i).find("img").attr("src",data[i].activity_logo);
						$activity_img_dd.eq(i).find("h3").html(data[i].activity_name);
						$activity_img_dd.eq(i).find("p").html(data[i].activity_rule);
				}
			},
			error: function() {
				alert("提取数据失败，请刷新！")
				}
			});
	
	});
		
	
	
</script>
</body>
</html>